@page "/"
@using MauiBlazor.Models;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Layouts;
@using TodoSQLite.Data;

@inject NavigationManager NavigationManager

 <SfDashboardLayout Columns="6" CellSpacing="@(new double[]{ 10 ,10 })">
    <DashboardLayoutPanels>

        <DashboardLayoutPanel Id="DaylysPanel" SizeX="3" SizeY="2" >
            <HeaderTemplate>    
                <p style="text-align:left;">
                    5 latest daylys

                    <span style="float:right;margin-left:5px;">
                        <SfButton OnClick="OpenDailys">D</SfButton>
                        <SfButton OnClick="OpenImport">I</SfButton>                        
                    </span>
                </p>
            </HeaderTemplate>
            <ContentTemplate>
                <div>
                <ItemGrid Items="items" DisablePaging="true" ShowSimplified="true"></ItemGrid>
                </div>
            </ContentTemplate>
        </DashboardLayoutPanel>

        <DashboardLayoutPanel Id="Panel2" SizeX="1" SizeY="2">
                <HeaderTemplate><div>Search Result</div></HeaderTemplate>
                <ContentTemplate>
                    <NavLink href="/daylies">Daaaaaaaaaaaaaylys</NavLink>
                </ContentTemplate>
        </DashboardLayoutPanel>

    </DashboardLayoutPanels>
    </SfDashboardLayout>

<style>
    
</style>

@code {
    private List<TodoItem> items; 

    protected override async Task OnInitializedAsync()
    {
        await LoadItems();
    }

    protected async Task LoadItems()
    {
        var repo = new TodoItemRepository();
        await repo.Init();
        items = (await repo.GetItemsAsync()).OrderByDescending(i => i.AssignedDate).Take(3).ToList();
    }

    private void OpenDailys(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/daylies");
    }

    private void OpenImport(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/import");
    }
}