@using Syncfusion.Blazor.Cards
@inherits LayoutComponentBase


<div class="main">
    <div class="content px-4">
        <div style="padding-bottom: 10px">
            <NavMenu></NavMenu>
        </div>
        @Body
    </div>
</div> 
		   
@code{

}

<style>
  
	
</style>