@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Blazor.Extensions;
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D;

@inject NavigationManager NavigationManager

<div class="semi-circle e-card">
    <SfButton Content="Dailies" IsPrimary="false" class="button-menu-item" OnClick="@((MouseEventArgs args) => OnMenuItemSelect("/daylies"))"></SfButton>
    <SfButton Content="Tags" IsPrimary="false" class="button-menu-item" OnClick="@((MouseEventArgs args) => OnMenuItemSelect("/tags"))"></SfButton>
    <SfButton Content="Charts" IsPrimary="false" class="button-menu-item" OnClick="@((MouseEventArgs args) => OnMenuItemSelect("/charts"))"></SfButton>
</div>


@code 
{
    protected void OnMenuItemSelect(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}

<style>

    .button-menu-item {
        height: 100%;
        width: 30%
    }

    .semi-circle {
        width: 100%;
        height: 10rem;        
        border-radius: 10rem 10rem 0 0;
    }

    /* .e-sidebar {
        background-color: #f8f8f8;
        color: black;
    }

    .text-content {
        font-size: 1.5rem;
        padding: 3rem;
    }

    .main > div {
        padding: 0px !important;
    } */
</style>